/*
 * This file contains all localizable skin settings such as 
 *   font, layout, and geometry
 *   Contributor(s):
 *   Tsahi Asher (tsahi_75@yahoo.com)
 *   Reuven Gonen  (linxspider@yahoo.com)
 */
window { 
  font: 3mm tahoma,arial,helvetica,sans-serif;
}


/**************************
**  Global Settings  **
***************************/

/*make UI RTL */

window,prefwindow,dialog,wizard,page,menu { direction: rtl; }

/* Remove window resizer until we find how to change it's direction to "bottomleft" */

resizer[dir="bottomright"] {
  display: none;
}


/********************
**  Firefox  **
*********************/

/* set LTR for url and file paths and align them to the right - Bug 289934  */

#link-url-text, #source, #path, #url, #feedurl, #downloadFolder, #urltext, #statusbar-display {
  direction: ltr !important;
  text-align: right !important;
}

/* set LTR for startpage, user agent and part of JavaScript console  */

#browserStartupHomepage, #userAgent, #ConsoleBox, #ToolbarEval
{
  direction: ltr !important;
}

/* set LTR for login and password dialogs  */

#password1Textbox, #password2Textbox, #loginTextbox
{
  direction: ltr !important;
}


/********************
**  Thunderbird  **
*********************/

/*
#statusbar-display {
  direction: ltr !important;
  text-align: right !important;
  }
*/

/* Set Folder Pane on the left side of window */

#mailContentWrapper {
  direction: ltr !important;
}

/* Set Mail Content titlebar as RTL */

#searchBox {
  direction: rtl !important;
}

/* Set Statusbar to LTR */

/*
#statusText {
  direction: ltr !important;
  text-align: right !important;
}*/



/********************
**  Extensions  **
*********************/

#adblockPreferencesWindow
{direction: ltr !important }


